// Couleurs
$primary: #1e2122;
$secondary: #1b1d1e;
$terciary: #1e1e1e;
$text-1: #fafafa;
$text-2: #ccc;
$input-border: #cccccc61;
$success: #28a745;
$error: #dc3545;
$warning: #ffc107;
$default: #2c6dee;

// Breakpoints Responsive
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
