// Couleurs
$primary: #0088ff;
$secondary: rgba(204, 204, 204, 0.24);
$text-1: #292929;
$text-2: #5b5b5b;
$success: #28a745;
$error: #dc3545;
$warning: #ffc107;
$light: #fafafa;
$light-2: #f4f4f4;
$dark: #343a40;

// Breakpoints Responsive
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
