@use "../abstracts/variables" as *;

.container {
  width: calc(100% - 25%);
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
}
@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
}
